<header class="app-header navbar mian-nav">
    <div class="d-flex align-items-center">

      <!-- Navegación interna -->
      <div class="d-none d-md-flex btn-nav-end">
        <button class="navbar-toggler btn-menu" type="button" (click)="goBack()">
          <fa-icon [icon]="faArrowLeft" class="icon-arrow-left"></fa-icon>
        </button>
      </div>

    </div>

      <!-- Menú centrado -->
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        @if(currentRol == "paciente" || currentRol == "especialista"){
          <li class="nav-item">
            <a class="nav-link" (click)="router.navigateByUrl('turnos/mis_turnos')">Mis Turnos</a>
          </li>
        }
        @if(currentRol == "admin"){
          <li class="nav-item">
            <a class="nav-link" (click)="router.navigateByUrl('turnos/listar_turnos')">Turnos</a>
          </li>
        }
        @if(currentRol == "admin" || currentRol == "paciente"){
          <li class="nav-item">
            <a class="nav-link" (click)="router.navigateByUrl('turnos/solicitar')">Solicitar Turno</a>
          </li>
        }
        @if(currentRol == "admin"){
          <li class="nav-item">
            <a class="nav-link" (click)="router.navigateByUrl('usuarios')">Usuarios</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" href="#">Contactanos</a>
        </li>
      </ul>
  
    <ul class="nav navbar-nav ml-auto">         
        <li class="nav-item">
          <!-- Botones de usuario y logout -->
          @if(currentUser){
            <div class="d-flex align-items-center ml-3">
              <div class="mr-3">
                <!-- Enlace al perfil del usuario -->
                <span tooltip="Mi Perfil" placement="bottom" container="body">
                  <fa-icon [icon]="faUser" class="font-xs"></fa-icon>
                </span>
              </div>
              <div class="btn-nav-end">
                <!-- Cerrar sesión -->
                <a class="btn btn-outline-danger rounded-circle" href="#" (click)="logOut()" tooltip="Cerrar Sesión" placement="bottom" container="body">
                  <fa-icon [icon]="faPowerOff" class="font-xs"></fa-icon>
                </a>
              </div>
            </div>
          }
        </li>
    </ul> 
             

  </header>
  