<div class="container-fluid vh-100 m-0 p-0">
    <div class="row justify-content-center align-items-top h-100 form-container">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Registre su usuario</h1>
            <br>
            <div class="btn-switch text-center" role="group">
              <button type="button" class="btn btn-outline-primary" (click)="switchView('paciente')">Paciente</button>
              <button type="button" class="btn btn-outline-primary" (click)="switchView('especialista')">Especialista</button>
            </div>
            <br><br>
            <form [formGroup]="registerForm" (ngSubmit)="createUser()">
                <div>
                    <app-common-inputs [parentForm]="registerForm" (valuesEmitter)="receiveValues($event)">
                    </app-common-inputs>

                    @if(view === 'paciente'){
                        <app-paciente-inputs [parentForm]="registerForm" (valuesEmitter)="receiveValues($event)">
                        </app-paciente-inputs>

                        <div class="form-group">
                          <input type="file" class="form-control" formControlName="imagenPerfil1" (change)="handleFileInput($event, 'imagenPerfil1'); checkLoaded('imagenPerfil1')">
                          @if(imagenPerfilLoadedFirst && registerForm.controls['imagenPerfil1'].invalid && (registerForm.controls['imagenPerfil1'].dirty || registerForm.controls['imagenPerfil1'].touched)){
                            <div class="text-danger">
                                La imagen debe ser formato .jpg, .png o .jpeg
                            </div>
                          }
                        </div>
                        <div class="form-group">
                          <input type="file" class="form-control" formControlName="imagenPerfil2" (change)="handleFileInput($event, 'imagenPerfil2'); checkLoaded('imagenPerfil2')">
                          @if(imagenPerfilLoadedSecond && registerForm.controls['imagenPerfil2'].invalid && (registerForm.controls['imagenPerfil2'].dirty || registerForm.controls['imagenPerfil2'].touched)){
                            <div class="text-danger">
                                La imagen debe ser formato .jpg, .png o .jpeg
                            </div>
                          }
                        </div>


                
                    }
                     
                    @if(view === 'especialista'){
                        <app-especialista-inputs 
                        [parentForm]="registerForm" 
         
                        (valuesEmitter)="receiveValues($event)">
                        </app-especialista-inputs>

                        <div class="form-group">
                          <input type="file" class="form-control" formControlName="imagenPerfil" (change)="handleFileInput($event, 'imagenPerfil'); checkLoaded('imagenPerfil')">
                          @if(imagenPerfilLoaded && registerForm.controls['imagenPerfil'].invalid){
                              <div class="text-danger">
                                  La imagen debe ser formato .jpg, .png o .jpeg
                              </div>
                          }
                        </div>
                    }
       
                    <app-email-password-inputs [parentForm]="registerForm" (valuesEmitter)="receiveValues($event)">
                    </app-email-password-inputs>
                </div>

              <div class="login-btns">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!isFormValid()">Crear cuenta</button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-success btn-block" (click)="router.navigateByUrl('/login')">Volver al login</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  