<div [ngClass]="showForm ? 'vh-160' : 'vh-100'" class="container-fluid m-0 p-0">
    <div class="row justify-content-center align-items-top h-100 form-container">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">Registre su usuario</h1>
            <br>
            <div class="btn-switch text-center" role="group">
              <button type="button" class="btn btn-outline-primary" (click)="switchView('paciente')">
                <img src="../../../assets/rol_paciente.png" width="100px" alt="paciente" class="btn-image">
                <br>
                <span>Paciente</span>
              </button>
              <button type="button" class="btn btn-outline-primary" (click)="switchView('especialista')">
                <img src="../../../assets/rol_medico.png" width="100px" alt="especialista" class="btn-image">
                <br>
                <span>Especialista</span>
              </button>
            </div>
            @if(!showForm){
              <img style="padding-top: 6em;" src="../../../assets/fondo-login.png" width="500px" alt="serpientes medicina">
            }
            <br><br>
            @if(showForm){
              <form [formGroup]="registerForm" (ngSubmit)="createUser()">
                <div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" >
                      @if(registerForm.controls['nombre'].invalid && (registerForm.controls['nombre'].dirty || registerForm.controls['nombre'].touched)){
                        <div class="text-danger">
                            El nombre no puede contener números
                        </div>
                      }
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido" >
                      @if(registerForm.controls['apellido'].invalid && (registerForm.controls['apellido'].dirty || registerForm.controls['apellido'].touched)){
                        <div class="text-danger">
                            El apellido no puede contener números
                        </div>
                      }
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control" placeholder="Edad" formControlName="edad" >
                      @if(registerForm.controls['edad'].invalid && (registerForm.controls['edad'].dirty || registerForm.controls['edad'].touched)){
                        <div class="text-danger">
                            Edad inválida
                        </div>
                      }
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control" placeholder="DNI" formControlName="dni" >
                      @if(registerForm.controls['dni'].invalid && (registerForm.controls['dni'].dirty || registerForm.controls['dni'].touched)){
                        <div class="text-danger">
                            El DNI debe contener 8 números
                        </div>
                      }
                  </div>

                  <div class="form-group">
                    <input type="file" class="form-control" formControlName="mainImg" 
                    (change)="handleFileInput($event, 'mainImg'); 
                    checkLoaded('mainImg')">
                    @if(mainImgLoaded && registerForm.controls['mainImg'].invalid && (registerForm.controls['mainImg'].dirty || registerForm.controls['mainImg'].touched)){
                      <div class="text-danger">
                          La imagen debe ser formato .jpg, .png o .jpeg
                      </div>
                    }
                  </div>

                    @if(view === 'paciente'){

                        <div class="form-group">
                          <input type="file" class="form-control" 
                          formControlName="extraImg" 
                          (change)="handleFileInput($event, 'extraImg'); 
                          checkLoaded('extraImg')">
                          
                          @if(extraIMgLoaded && registerForm.controls['extraImg'].invalid && (registerForm.controls['extraImg'].dirty || registerForm.controls['extraImg'].touched)){
                            <div class="text-danger">
                                La imagen debe ser formato .jpg, .png o .jpeg
                            </div>
                          }
                        </div>            

                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Obra Social" formControlName="obraSocial">
                        </div>
 
                    }
                     
                    @if(view === 'especialista'){
                      <div class="form-group" style="display: flex; align-items: center;">
                        <select class="form-control" formControlName="especialidad" style="flex: 1;">
                          <option value="" disabled selected>Especialidades</option>
                          @for(especialidad of especialidades; track especialidad){
                          <option [value]="especialidad">
                            {{ especialidad }}
                          </option>
                          }
                        </select>
                        <button type="button" class="btn btn-primary"  (click)="addEspecialidad()" style="margin-left: 10px; margin-bottom: 1em;"><fa-icon [icon]='faPlus'></fa-icon></button>
                      </div>
                      @if(registerForm.controls['especialidad'].invalid && (registerForm.controls['especialidad'].dirty || registerForm.controls['especialidad'].touched)){
                        <div class="text-danger">
                            No pueden añadirse especialidades ya existentes
                        </div>
                      }
                      <div class="form-group text-center">
                          <button type="button" class="btn btn-primary" (click)="agregarOtraEspecialidad()">
                            Poseo mas de una especialidad
                          </button>
                      </div>
                      <br>
                    }
       
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" formControlName="email">
                      @if(registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)){
                          <div class="text-danger">
                              @if(registerForm.controls['email'].errors?.['required']){
                                  <div>El correo electrónico es obligatorio.</div>
                              }
                              @if(registerForm.controls['email'].errors?.['email']){
                                  <div>El correo electrónico no es válido.</div>
                              }
                          </div>
                      }
                    </div>
                  
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                      @if(registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)){
                          <div class="text-danger">
                              La contraseña debe contener al menos 8 caracteres.
                          </div>
                      }
                    </div>

                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Repita la contraseña" formControlName="repeatPassword">
                      @if(registerForm.controls['repeatPassword'].invalid && (registerForm.controls['repeatPassword'].dirty || registerForm.controls['repeatPassword'].touched)){
                          <div class="text-danger">
                              La contraseña no coincide
                          </div>
                      }
                    </div>

                </div>

                <div class="form-group">
                  <app-captcha (captchaValidated)="handleCaptchaValidation($event)"></app-captcha>
                </div>

              <div class="login-btns">
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block" [disabled]="!isFormValid()">Crear cuenta</button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-block" (click)="router.navigateByUrl('/login')">Volver al login</button>
                </div>
              </div>

            </form>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  