<div class="container-fluid">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 form-container">
        <h1 class="text-center">Alta de Administrador</h1>
        <form [formGroup]="registerForm" (ngSubmit)="createUser()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" appAutofocus>
            <div *ngIf="registerForm.controls['nombre'].invalid && (registerForm.controls['nombre'].dirty || registerForm.controls['nombre'].touched)" class="text-danger">
              El nombre no puede contener números
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
            <div *ngIf="registerForm.controls['apellido'].invalid && (registerForm.controls['apellido'].dirty || registerForm.controls['apellido'].touched)" class="text-danger">
              El apellido no puede contener números
            </div>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Edad" formControlName="edad">
            <div *ngIf="registerForm.controls['edad'].invalid && (registerForm.controls['edad'].dirty || registerForm.controls['edad'].touched)" class="text-danger">
              Edad inválida
            </div>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="DNI" formControlName="dni">
            <div *ngIf="registerForm.controls['dni'].invalid && (registerForm.controls['dni'].dirty || registerForm.controls['dni'].touched)" class="text-danger">
              El DNI debe contener 8 números
            </div>
          </div>
          <div class="form-group">
            <input type="file" class="form-control" formControlName="mainImg" (change)="handleFileInput($event, 'mainImg'); checkLoaded('mainImg')">
            <div *ngIf="mainImgLoaded && registerForm.controls['mainImg'].invalid && (registerForm.controls['mainImg'].dirty || registerForm.controls['mainImg'].touched)" class="text-danger">
              La imagen debe ser formato .jpg, .png o .jpeg
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Obra Social" formControlName="obraSocial">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="text-danger">
              <div *ngIf="registerForm.controls['email'].errors?.['required']">El correo electrónico es obligatorio.</div>
              <div *ngIf="registerForm.controls['email'].errors?.['email']">El correo electrónico no es válido.</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
            <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="text-danger">
              La contraseña debe contener al menos 8 caracteres.
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Repita la contraseña" formControlName="repeatPassword">
            <div *ngIf="registerForm.controls['repeatPassword'].invalid && (registerForm.controls['repeatPassword'].dirty || registerForm.controls['repeatPassword'].touched)" class="text-danger">
              La contraseña no coincide
            </div>
          </div>
          <div class="form-group">
            <app-captcha (captchaValidated)="handleCaptchaValidation($event)"></app-captcha>
          </div>
          <div class="login-btns">
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!isFormValid()">Crear cuenta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
