<form [formGroup]="parentForm">
    <div>
        <div class="form-group">
            <select class="form-control" formControlName="especialidad">
                <option value="" disabled selected>Especialidades</option>
                @for(especialidad of especialidades; track especialidad){
                    <option [value]="especialidad">
                        {{ especialidad }}
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="file" class="form-control" formControlName="imagenPerfil" (change)="handleFileInput($event, 'imagenPerfil'); checkLoaded()">
            @if(imagenPerfilLoaded && parentForm.controls['imagenPerfil'].invalid){
                <div class="text-danger">
                    La imagen debe ser formato .jpg, .png o .jpeg
                </div>
            }
        </div>
    </div>
</form>
