<h1 mat-dialog-title class="text-center">Horario disponibles de atención</h1>
<div mat-dialog-content>
  <p class="text-center">Elija su horario de atención, de 07:00 a 18:00</p>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Día</th>
        <th scope="col">Fecha</th>
        <th scope="col">Desde</th>
        <th scope="col">Hasta</th>
      </tr>
    </thead>
    <tbody>
      @if(daysData.length == 15){
        @for (day of daysData; track day) {
          <tr>
            <td class="align-middle">
              <input type="text" readonly [value]="day.dayName | translateDayName" class="short-input">
            </td>
            <td class="align-middle">
              <input type="text" readonly [value]="day.fecha | setFechaWithSlashes" class="short-input">
            </td>
            <td class="align-middle">
              <select class="form-select" [(ngModel)]="day.desde">
                <option *ngFor="let time of validTimes" [value]="time">{{ time | horariosAmPmFormat }}</option>
              </select>
            </td>
            <td class="align-middle">
              <select class="form-select" [(ngModel)]="day.hasta">
                <option *ngFor="let time of validTimes" [value]="time">{{ time | horariosAmPmFormat }}</option>
              </select>
            </td>
            </tr>
        } 
      }
        
     
    </tbody>
  </table>
</div>
<div mat-dialog-actions class="d-flex justify-content-evenly">
    <button mat-button (click)="onCancel()" class="btn btn-danger">Cancelar</button>
  <button mat-button (click)="actualizarHorarios()" class="btn btn-success">Guardar</button>
</div>
