.app-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(12, 16, 90)
}

.footer-logo {
    background: url('../../../assets/fondo-login.png');
    background-repeat: no-repeat;
    width: 12em;
    height: 8em;
    background-size: 50%;
    background-position: center;
}

.footer-data{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

a{
    text-decoration: none; 
    color: white; 
}