<div class="container-fluid">
    <div class="container mt-4">
        <div class="row container">

            @if(loading){
                <app-spinner [loading]="loading"></app-spinner>
            }@else{
                <div class="user-card" >
                    <div *ngIf="currentRol === 'paciente'">
                        <img [src]="selectedImage" alt="User Image" appRoundedImg>
                        <button (click)="toggleImage()" class="btn btn-primary">Cambiar Imagen</button>
                    </div>
                    <div *ngIf="currentRol !== 'paciente'">
                        <img [src]="mySelf?.mainImg" alt="User Image" appRoundedImg>
                    </div>
                    <div class="user-details">
                      <p class="user-data"><strong>Usuario:</strong> {{ mySelf?.nombre }} {{mySelf?.apellido}}</p>
                      <p class="user-data"><strong>DNI:</strong> {{ mySelf?.dni }} </p>
                      <p class="user-data"><strong>Email:</strong> {{ mySelf?.email }}</p>
                      <p class="user-data"><strong>Rol:</strong> {{ mySelf?.rol }}</p>
                      @if(currentRol == "paciente"){
                        <p class="user-data"><strong>Obra Social:</strong> {{ mySelf?.obraSocial }}</p>
                      }
                      @if(currentRol == "especialista"){
                        <p class="user-data list-container"><strong>Especialidades:</strong> 
                            @for (esp of mySelf?.especialidad; track esp) {
                                <li class="list-data">{{esp}}</li>
                            }
                        </p>
                        

                        <button class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#horariosModal" (click)="verHorarios()">Ver mis horarios</button>                     
                        <button class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#horariosModal" (click)="openModal()">Gestionar mis horarios</button>
                      }
                      @if(currentRol == "paciente"){
                        <button class="btn btn-dark text-center" (click)="verHistoriaClinica(mySelf)">
                            Ver Historia Clinica
                        </button>   
                      }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
