<div class="container-fluid">
  <div class="container mt-4">
    <div class="row container">

    <app-spinner [loading]="loading"></app-spinner>
    @if(!loading){
          
      @for(user of pagedUsers; track user ){

        <div class="user-card">
          @if(user.rol === 'paciente'){
            <div class="d-flex flex-column align-items-center select-user" style="margin-bottom: 1em;" (click)="selectUser(user)">
              <img [src]="selectedImages[user.email]" alt="User Image" class="user-image">
              <button (click)="toggleImage(user)" class="btn btn-dark text-center">Cambiar Imagen</button>
            </div>
          }@else{
            <div class="select-user" (click)="selectUser(user)">
              <img [src]="user.mainImg" alt="User Image" class="user-image">
            </div>
          }
  
            <div class="user-details">
                <p class="user-data"><strong>Nombre completo:</strong> {{ user.nombre }} {{user.apellido}}</p>
                <p class="user-data"><strong>DNI:</strong> {{ user.dni }} </p>
                <p class="user-data"><strong>Email:</strong> {{ user.email }}</p>
                <p class="user-data"><strong>Rol:</strong> {{ user.rol }}</p>
                @if(user.rol === 'paciente'){
                  <p class="user-data"><strong>Obra Social:</strong> {{ user.obraSocial }}</p>
                }
                @if(user.rol === 'especialista'){
                  <p class="user-data"><strong>Especialidad/es:</strong> {{ user.especialidad }}</p>
                }
                <p class="user-data"><strong>Estado:</strong> {{ user.estado }}</p>
            
                <div class="btn-container d-flex justify-content-evenly align-items-center">
                  @if(user.estado == "pendiente" || user.estado == "deshabilitado"){
                    <button class="btn btn-success enabled" (click)="changeState(user, 'habilitado')"> Habilitar </button>
                  }@else if (user.estado == "habilitado") {
                    <button class="btn btn-secondary" (click)="changeState(user, 'deshabilitado')"> Desabilitar </button>
                  }
                  @if(user.rol == "paciente"){
                    <button class="btn btn-primary text-center" (click)="verHistoriaClinica(user)">
                      Ver Hist. Clinica
                    </button>        
                  }
                  @if(isUserSelected(user)){
                    <button (click)="exportUserToCSV(user)" class="btn btn-success">
                      CSV <mat-icon style="padding-top: 0.2em;">download</mat-icon> 
                    </button>
                  }
                </div>
            </div>
          </div> 
          }
    
      <button class="btn btn-success btn-csv" (click)="exportAllToCSV()">Exportar listado a CSV</button>

      <app-paginacion
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChanged)="setPage($event)">
      </app-paginacion>
    }
    </div>
  </div>
</div>

