main{
    height: 85vh;
    background-image: url('../../../assets/main_fondo.png'); 
    background-size: 250px 250px;
    background-repeat: repeat;
    background-position: center;
}

.card{
    width: 18rem;
    height: 14rem;
}
.row {
    margin: 0 auto; 
}


@media (max-width: 1300px) {
    main{
        height: 100vh;
    }
    .card{
        margin: 1em;
        width: 14rem;
    }
}