<div class="container-fluid">
    <div class="container mt-4">
        <div class="row container">

        @if(loading){
            <app-spinner [loading]="loading" ></app-spinner>
        }@else {

            <!-- Filtros -->
            <app-listado-filtros
              [currentRol]="currentRol"  
              [turnos]="turnos"
              [filteredTurnos]="filteredTurnos"
              [userMap]="userMap"
              [especialidadFilter]="especialidadFilter"
              [especialistaFilter]="especialistaFilter"
              (filterApplied)="onFilterApplied($event)"
              (filtersCleared)="onFiltersCleared()">
            </app-listado-filtros>
            

            <!--Turnos-->
            <table class="table table-striped table-light container">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Día</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Especialista</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Paciente</th>
                    <th scope="col" style="width: 120px;">Estado</th>
                    <th scope="col" class="td-modify-state">Modificar Estado</th>
                  </tr>
                </thead>
                <tbody>

                  @if(pagedTurnos?.length === 0){
                    <td colspan="6" class="td-no-results">No se encontraron resultados</td>
                  }@else {
                    @for(turno of pagedTurnos; track turno ){
                      <tr class="text-center">
                            <td>{{ turno.fecha.dayName | capitalizeFirstLetterPipe }}</td>
                            <td>{{ turno.fecha.fecha | setFechaWithSlashes}}</td>
                            <td>{{ turno.fecha.timeSlot.time | horariosAmPmFormat}}</td>
                            <td (click)="setFilter('especialista', turno.especialistaId)" class="td-clickeable">{{userMap[turno.especialistaId]}}</td>
                            <td (click)="setFilter('especialidad', turno.especialidad)" class="td-clickeable">{{ turno.especialidad }}</td>
                            <td>{{userMap[turno.pacienteId]}}</td>
                            <td style="width: 120px;">{{ turno.estado }}</td>
                            <td>
                              <div class="td-modify-state">
                                @if(turno.estado == "pendiente"){
                                  <button class="btn btn-dark" (click)="changeState(turno, 'cancelado')"> Cancelar </button>
                                }@else {
                                  <button class="btn btn-secondary" (click)="showMotivo(turno.comentario)"> Ver motivo </button>
                                }
                              </div>
                            </td>
                      </tr>
                  }
                }
                  </tbody>
              </table>    
        
              <app-paginacion
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                (pageChanged)="setPage($event)">
              </app-paginacion>
        }

        </div>
    </div>
</div>