.container-fluid {
    height: 90vh;
    background-color: rgb(106, 216, 212);
    background-image: url('../../../../assets/main_fondo.png'); 
    background-size: 250px 250px;
    background-repeat: repeat;
    background-position: center;
    padding: 20px;
  }

  .mt-4{
    background-color: lightblue;
    height: 800px;
  }

  table {
    margin-top: 1em;
  }

  .td-modify-state{
    width: 250px; 
  }

  .td-clickeable:hover{
    opacity: 0.6;
    cursor: pointer;
  }

  .td-no-results{
    background-color: white;
    text-align: center;
    font-size: medium;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .filter-container {
    max-width: 800px;
    margin: auto;
  }
  
  .filter {
    text-align: center;
  }
  
  