.dialog-title {
    text-align: center;
  }
  
  .dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
  }
  
  .dialog-text {
    text-align: center;
  }
  