<ul class="pagination justify-content-center">
    <li appCursorPointer class="page-item" [class.disabled]="currentPage === 1">
      <a appCursorPointer class="page-link" (click)="previousPage()">Anterior</a>
    </li>

    @for(page of pages; track page){
      <li appCursorPointer class="page-item" [class.active]="currentPage === page">
        <a appCursorPointer class="page-link" (click)="setPage(page)">{{ page }}</a>
      </li>
    }
    
    <li appCursorPointer class="page-item" [class.disabled]="currentPage === totalPages">
      <a appCursorPointer class="page-link" (click)="nextPage()">Siguiente</a>
    </li>
</ul>