.container-fluid {
    height: 85vh;
    background-color: rgb(106, 216, 212);
    background-image: url('../../../../assets/main_fondo.png'); 
    background-size: 250px 250px;
    background-repeat: repeat;
    background-position: center;
    padding: 20px;
  }

  .graph-container{
    background-color: white; 
    padding-bottom: 1em;
  }

  .mt-4{
    height: 800px;
  }

  .btn-pdf{
    margin-top: 1em;
  }